<div class="card col-md-6" style="height:300px;">
  <div class="card-body">
    <div id="hers">
        <p><span class="h5">Laya : </span>This is some text within a card body.</p>
    </div>
    <div id="mine" class="float-right">
        <p>This is some text within a card body.</p>
    </div>
  </div>
</div>
<div class="card col-md-6">
  <div class="">
      <form class="form-inline">
        <div class="form-group col-md-11">
          <input type="text" class="form-control col-md-12" id="inputMessage" placeholder="Enter message">
        </div>
        <button type="submit" class="btn btn-primary col-md-1">></button>
      </form>
  </div>
</div>
